<!doctype html>

<html lang="en">
<head>
    <title><%= aplace.name %></title>
    
    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <h1><%= aplace.name %></h1>
    <br>
    <%= aplace.typeofplace %>
    <br>
    <%= aplace.fulladdress %>
    <br>
    <%= aplace.phone_number%>
    <br>
    <br>
    <p><%= aplace.description %></p>
    <br>
    
    <h2>Amenities</h2>
    <ul>
        <% for(var i=0; i < aplace.Admenities.length; i++) { %>
            <li><%= aplace.Admenities[i]; %></li>
        <% } %>
    </ul>

    <h2>Facilities</h2>
    <ul>
        <% for(var i=0; i < aplace.Facilities.length; i++) { %>
            <li><%= aplace.Facilities[i]; %></li>
        <% } %>
    </ul>
    
    <h2>Friends that Go Here</h2>
    
    <h2>Trainers</h2>
    
    <h2>Buy Membership</h2>
    
    <h2>Contact</h2>
    
    https://www.google.com/maps/dir//760+West+Genesee+Street+Syracuse+NY+13204
    
</body>
</html>